name: Test and Deploy Flutter App

on:
  pushes:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
      - name: Install Dependencies
        run: flutter pub get
      - name: Run Test
        run: flutter test
      - name: Build APK
        run: flutter build apk
        env:
          FLUTTER_BUILD_MODE: release

